@CHARSET "UTF-8";

.pb-o {
	
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	
}

.pb-w {
	
	position: absolute;
	transition: top 0.5s, left 0.5s;
	
}

.shadow>.pb-c {
	box-shadow: 0 0 5px black;
}

.pb-c {
	
	background-color: white;
	border-radius: 3px;
	width:100%;
	height: 100%;
	display: inline-block;
	overflow-y: auto;

}

.pb-c>* {
height: 100%;

}

a.pb-btn-close {
	
 	background-image: url(ic_clear_black_18dp.png); 
	width: 12px;
	height: 12px;
	display: inline-block;
	position: absolute;
	top: 5px;
	right: 5px;
	background-position: center;
	background-color: white;
	
}

body.body-overlayed{
	overflow: hidden;
}